<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="79747f2b-25b3-4f3b-b20e-73ea971fd4aa" file="properties/mule-${mule.env}.yaml"/>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="9fcd46ff-940e-479e-83ca-a951305207f6" file="properties/secure-${mule.env}.properties" key="${prop.key}">
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<http:request-config name="JSONPlaceHolder_configuration" doc:name="HTTP Request configuration" doc:id="d1efc838-beb3-4264-bc32-9bb89bf9c22f" responseTimeout="${Webservice.timeout}">
		<http:request-connection host="${Webservice.host}" connectionIdleTimeout="${Webservice.timeout}" protocol="HTTPS">
			<reconnection >
				<reconnect />
			</reconnection>
		</http:request-connection>
	</http:request-config>
</mule>
